html {
    scroll-behavior: smooth;
}



h1{ color: black; 
    font-size: 40px;
    font-family: "Times New Roman"
    }

h2 {
    color: black;
    font:35px;
    font-family: "Times New Roman"
}

p{
    font-size:  15px;
}

.note {
    font-size: 12px;
}

body{
    background-color: white;
}

hr{
    height: 2px;
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
}

a:active-tab {
    color: #333333;
}

button{
    background-color: green;
    color: white;
    text-decoration: none;
    display: flex;
    padding: 1.5%;
    justify-content: center;
    border: none;
}

.coming-soon {
    align-items: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
    border-radius: 5%;
    padding-left: 10%;
    padding-right: 10%;
}


.container-left {
    display: flex;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
}

.container-right {
    display: flex;
    padding-right: 13%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
}

.container-order {
    display: flex;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
}

.text-right {
    padding-left: 10%;
    flex: 1;
}

.text-left {
    padding-left: 10%;
    flex: 1;
}

.text-big {
    padding-left: 5%;
    padding-right: 5%;
    flex: 1;
}

.container-footer {
    display: flex;
    padding: 5% 5%;
    flex-wrap: wrap;
    align-items: center;
}

.container-cake {
    display: flex;
	width: 100%;
	flex-wrap: wrap;
    align-items: center;
}

.flex-item { 
    padding: 2%; 
    flex-grow: 1; 
    flex-basis: 16%; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.flex-img img { 
    max-width: 100%; 
    text-align: center;
} 

.flex-info { 
    text-align: center;
    margin-top: auto; 
} 

.topnav{
    text-align: center;
    padding: 3% 3% 3% 3%;
    justify-content: center;
}

.padding {
    padding: 5% 10% 5% 10%;
}

/* links */
a:link, a:visited {
    color: #8e8e8e;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
a:hover {
    color: #333333;
}

.split {
    padding-left: 30px;
}

.split img {
    width: 400px;
    height: 400px;
}

.split-right { 
    margin-left: 150px;
    padding: 5% 2.5%;;
}

.split-right img {
    width: 400px;
    height: 400px;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.column img {
    width: 100%
}


.flex-img:hover {
    transform:scale(1.2)
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column-footer {
    float: left;
    width: 33.333%;
    padding: 10px;
}

.column-footer img {
    width: 50px;
    height: 50px
}

.row-footer::after {
    content: "";
    clear: both;
    display: table;
    align-items: center;
}

.container-pic {
    position: relative;
}
  

.mySlides {
    display: none;
    width: 500px;
    height: 500px
}
  
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

  
.column-order {
    float: left;
    width: 16.66%;
}

.column-order img {
    width: 50px;
    height: 50px
}

.row-order {
    padding-left: 5%;
}
  
.demo {
    opacity: 0.6;
}
  
.active,
.demo:hover {
    opacity: 1;
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    font-family: 'Times New Roman';
    font-size: 16px;
    color: #8e8e8e;
    padding: 20px;
    border: none;
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
 
.dropdown:hover .dropbtn {color: #333333;}

@media screen and (max-width: 500px) {
    
    .body {
        align-items: center;
    }
    .column {
      width: 350px;
    }
    .row {
        align-items: center;
    }
    .container-left {
      flex-direction: column;
      padding-left: 2%;
      align-items: center;
    }
    .container-right{
        flex-direction: column;
        padding-left: 14%;
        align-items: center;
    }

    .container-order{
        position: relative;
        max-width: 100%;
        flex-direction: column;
        padding-left: 15%;
        align-items: center;
    }
    
    .text-left {
        padding-left: 3%;
    }
    .text-big {
        padding-left: 0%;
        padding-right: 15%;
        font-size: 5%;
    }
    .split{
      padding-left: 0px;
    }
    .flex-item { 
        flex: 1 46%; 
        flex-grow: inherit; 
        padding-left: 10%;
    }
    .text {
        font-size: 10px;
    }
    .topnav {
        overflow: hidden;;
        position: relative;
        padding-right: 10%;
    }
      
      /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }
      
      /* Style navigation menu links */
    .topnav-m a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
      
      /* Style the hamburger menu */
    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
      
      /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: #d4d4d4;
    }
      
      /* Style the active link (or home/logo) */
    .active {
        background-color: #04AA6D;
        color: white;
    }

    .column-footer {
        float: left;
        width: 33.333%;
        padding: 10px;
    } 

    .column-footer img {
        width: 32px;
        height: 32px;
    }  

    .row-footer::after {
        content: "";
        clear: both;
        display: table;
        align-items: center;
        padding-left: 5%;
    }
      
    .coming-soon {
        padding-top: 5%;
        padding-bottom: 5%;
        align-items: center;
        font-size: 75px;
        font-family: 'Courier New', Courier, monospace;
        background-color: beige;
        border-radius: 5%;
    }
    .split {
        margin-left: 2%;
        margin-right: 2.5%;
        padding: 0px 2.5% 7% 2.5%;
        align-items: center;
    }
    .split img {
        width: 350px;
        height: 350px;
    }
    
    .split-right { 
        margin-left: 2%;
        margin-right: 2.5%;
        padding: 0px 2.5% 7% 2.5%;
        align-items: center;
    }
    
    .split-right img {
        width: 350px;
        height: 350px;
    }
    h2 {
        font-size: 20px;
    }
    .mySlides {
        max-width: 100%;
        display: none;
        padding-left: 10%;
    }

    .column-order {
        max-width: 100%;
    }

    .column-order img {
        width: 50px;
        height: 50px
    }

    #textarea {
        width:200px; 
        height:200px;
    }

    .footer-text {
        align-items: center;
        font-size: 10px;
    }
    .row-order {
        padding-left: 25%;
    }
}
