h1{ color: black; 
    font-family: "Times New Roman"}

body{
    background-color: white;
}

hr{
    height: 2px;
    background-color: black;
}

.topnav{
    text-align: center;
    padding: 3% 3% 3% 3%;
    margin: 8px 22px 8px 22px
}

.topnav a {
    text-align: center;
    padding: 3% 3% 3% 3%;
    margin: 8px 22px 8px 22px
}

.align {
    padding-left: 2%;
}

.padding {
    padding-left: 10%;
    padding-right: 10%;
}

/* links */
a:link, a:visited {
    color: #8e8e8e;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
a:hover {
    color: #333333;
}

.row {
    display: flex;
}
  
.column {
    flex: 33.33%;
    padding: 5px;
}
