html {
    scroll-behavior: smooth;
}



h1{ color: black; 
    font-size: 40px;
    font-family: "Times New Roman"
    }

h2 {
    color: black;
    font:35px;
    font-family: "Times New Roman"
}

p{
    font-size:  15px;
}

.note {
    font-size: 12px;
}

body{
    background-color: white;
}

hr{
    height: 2px;
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
}

a:active-tab {
    color: #333333;
}

button{
    background-color: green;
    color: white;
    text-decoration: none;
    display: flex;
    padding: 1.5%;
    justify-content: center;
}

.coming-soon {
    align-items: center;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
    border-radius: 5%;
    padding-left: 10%;
    padding-right: 10%;
}


.container-left {
    display: flex;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
}

.container-right {
    display: flex;
    padding-right: 13%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
}

.container-order {
    display: flex;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
}

.text-right {
    padding-left: 10%;
    flex: 1;
}

.text-left {
    padding-left: 10%;
    flex: 1;
}

.text-big {
    padding-left: 5%;
    padding-right: 5%;
    flex: 1;
}

.container-footer {
    display: flex;
    padding-left: 10%;
    flex-wrap: wrap;
    align-items: center;
}

.container-cake {
    display: flex;
	width: 100%;
	flex-wrap: wrap;
    align-items: center;
}

.flex-item { 
    padding: 2%; 
    flex-grow: 1; 
    flex-basis: 16%; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.flex-img img { 
    max-width: 100%; 
    text-align: center;
} 

.flex-info { 
    text-align: center;
    margin-top: auto; 
} 

.topnav{
    text-align: center;
    padding: 3% 3% 3% 3%;
    margin: 8px 22px 8px 22px
}

.padding {
    padding: 5% 10% 5% 10%;
}

/* links */
a:link, a:visited {
    color: #8e8e8e;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
a:hover {
    color: #333333;
}

.column-footer {
    float: left;
    width: 33.33%;
}

.split {
    padding-left: 30px;
}

#split-right {
    padding-top: 2.5%;
    margin-left: 150px;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.tab {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    color: #000; /* Default text color */
    text-decoration: none;
  }

  .active {
    color: #4CAF50; /* Change this to the desired text color for the active tab */
  }

@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
    .container-left {
      flex-direction: column;
      padding-left: 2%;
      align-items: center;
    }
    .container-right{
        flex-direction: column;
        padding-left: 14%;
        align-items: center;
    }
    
    .text-left {
        padding-left: 3%;
    }
    .split{
      padding-left: 0px;
    }
    .topnav{
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .flex-item { 
        flex: 1 46%; 
        flex-grow: inherit; 
      } 
  }
